/* BODY */
#body{
    margin: 10px;
    padding: 10px;
    background-color: #91C22F;
}
/* Header */
#header{
    background-color: #729925;
    padding: 10px 0px;
    margin: 10px 0px;

}
/* Layout */
#headerRow{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}
/* Text */
.h1{
    text-align: center;
    font-family: "Winky Rough", sans-serif;
    font-weight: 800;
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
    color: #5C0000;
}
/* Section */
#section1{
    display: block;
    background-color: #AFEB38;
    margin: 0px;
    padding: 10px;
}
/* Layout */
#outputRow{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}
#outputCol{
    margin: 0px;
    padding: 0px;
    background-color: #324210;
    border: solid #5C0000 5px;
    border-radius: 10px;
}
/* API OUTPUT */
#output{
    margin: 10px;
    padding: 10px;
}
p{
    font-family: "Playpen Sans", cursive;
    text-decoration: underline;
    text-transform: uppercase;
    color: #FFF;
    margin: 10px 5px;
    padding: 0px 5px;
}